@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-style {
  background-color: $color-background;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px $color-box-shadows;
  text-align: center;
  animation: fadeIn 0.4s ease;
}
