:root {
  /* Colors */
  --color-header-background: rgba(255, 255, 255, 0.7);
  --color-background: #ffffff;
  --color-background-secondary: #d4bdf0;
  --color-text-dark: #333333;
  --color-hover: #b79bd3;
  --color-box-shadows: rgba(0, 0, 0, 0.05);

  /* Accent & Text Colors */
  --color-accent-dark: #4b3c8a;
  --color-accent-light: #7e4bb1;
  --color-accent-hover: #5b2e91;
  --color-subtitle: #666666;
  --color-border: #cccccc;
  --color-footer-bg: rgba(255, 255, 255, 0.6);
  --color-footer-text: #666666;
  --color-toggle-text: #555555;
  --color-btn-hover: #9f7cc1;
}

body {
    background: linear-gradient(to bottom right, var(--color-background), var(--color-background-secondary));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  font-family: "Dancing Script", cursive;
}

.search-container input::placeholder {
    color: var( --color-text-dark);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color-header-background);
  border-radius: 10px;
  padding: 8px 14px;
  width: 550px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: whitesmoke;
}

.search-container .material-symbols-outlined {
  color: var(--color-text-dark);    
  cursor: pointer;  
}

.search-container .material-symbols-outlined:hover {
    color: var(--color-hover);
}

.search-container button {
    background: transparent;
    outline: none;
    border: none;
}

main {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.banner, .banner-text { 
    flex: 1 1 0; 
}

.banner img{
  width: 100%;
  height: auto;
  border-radius: 17px;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
  object-fit: cover;
}

.banner-text{
  background: var(--color-background);
  border-radius: 17px;
  padding: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
  text-align: center;
  align-content: center;
}

.banner-text h2 {
  margin: 0 0 8px;
  line-height: 1.2;
  font-weight: 700;
}

.banner-text p { 
    margin: 6px 0; 
    line-height: 1.3; 
    color: var(--color-text-dark); 
}

@media (max-width: 900px){
  .content{ flex-direction:column; }
}