@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  /* Colors */
  --color-header-background: rgba(255, 255, 255, 0.7);
  --color-background: #ffffff;
  --color-background-secondary: #d4bdf0;
  --color-text-dark: #333333;
  --color-hover: #b79bd3;
  --color-box-shadows: rgba(0, 0, 0, 0.05);

  /* Accent & Text Colors */
  --color-accent-dark: #4b3c8a;
  --color-accent-light: #7e4bb1;
  --color-accent-hover: #5b2e91;
  --color-subtitle: #666666;
  --color-border: #cccccc;
  --color-footer-bg: rgba(255, 255, 255, 0.6);
  --color-footer-text: #666666;
  --color-toggle-text: #555555;
  --color-btn-hover: #9f7cc1;
}

/* Header */
header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: var(--color-header-background);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 10px var(--color-box-shadows);
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-accent-light);
}

header a {
  text-decoration: none;
}

.flower-icon {
  width: 40px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--color-accent-dark);
  font-weight: 500;
  transition: color 0.3s;
  display: inline-flex; 
}

nav a:hover {
  color: var(--color-hover);
}

nav {
  display: flex;
  align-items: center;
}

.design-bouquet {
  border: 3px solid transparent;
  border-radius: 1em;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to left, var(--color-accent-light), rgb(241, 194, 236)) border-box;
}

.design-bouquet:hover {
  background: linear-gradient(var(--color-background-secondary), var(--color-background-secondary)) padding-box,
              linear-gradient(to left, var(--color-accent-light), rgb(241, 194, 236)) border-box;
}

.design-bouquet a:hover {
  color: var(--color-accent-dark);
}

.design-bouquet__fx-3d {
  font-weight: 400;
  letter-spacing: .05em;
  background: linear-gradient(180deg, #fff, #f7f1ff 90%, #d2c6ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    1px 1px 0 #7265b3,
    2px 2px 0 #4735a3,
    3px 3px 0 #8985a6;  
}

.logo img {
  display: block;
}

.design-bouquet__cart-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.design-bouquet__cart-count {
  position: absolute;
  top: -6px;
  right: 0;
  color: var(--color-accent-dark);
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 50%;
  padding: 1px 3px;
  min-width: 17px;
  text-align: center;
  pointer-events: none;
  transform: translateX(13px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*TODO: pruefen, warum nicht funktioniert*/
.design-bouquet__cart-link:hover {
  color: var(--color-hover);
}

.hidden {
  display: none;
}

